* {
  text-align: center;
}

.taskInputForm {
    max-width: 500px;
    margin: 0 auto;
    float: none;
}

#taskForm {

  padding-bottom: 30px;
}

#dataTableHead{
  margin-right: 195px;
  font-style: italic;
  font-weight: bold;
}

.checkbox {
  border: 1px solid black;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-top: 1px;

}
